<br>
<ngx-alerts></ngx-alerts>
<div class="container">
    <div class="card full-card bg-dark text-white">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-right">
                    <h3>Bulls & Cows</h3>
                </div>
                <div *ngIf="!won && !lost" class="col-md-2 text-right">
                    <button class="btn btn-xs btn-primary pull-right" (click)="myFunc()">New Player Game</button>
                </div>
                <div *ngIf="!won && !lost" class="col-md-2 text-right">
                    <button class="btn btn-xs btn-primary pull-right" (click)="startMaster()">New Master Game</button>
                </div>
                <div class="col-md-2 text-right">
                    <div *ngIf="masterNumber">
                        <b>Tries Left:
                            <kbd>{{tries}}</kbd>
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>History</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let g of history">
                                <td>{{g.guess}} Bulls: {{g.b}} Cows: {{g.c}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table *ngIf="!playMaster" class="table table-bordered table-sm">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Bull</th>
                                <th>Cow</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>{{result.b || '-'}}</td>
                                <td>{{result.c || '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="playMaster" class="card bg-dark text-center" style="width: 80%">
                        <div class="card-header text-Primary">
                            <h3>
                                <b>CPU Guess</b>
                            </h3>
                        </div>
                        <div class="card-body text-white">
                            <h5 class="card-title">{{cpuGuess}}</h5>
                            <p class="card-text">
                                Please tell me Bulls and Cowss
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div *ngIf="masterNumber && !playMaster">
                            <form class="form-inline">
                                <div class="col-md-5">
                                    <input type="number" [disabled]="won || lost" class="number" name="guess" placeholder="make a guess.." [(ngModel)]="guess"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-md-5">
                                    <button (click)="makeGuess(guess)" [disabled]="won || lost" class="btn btn-xs btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="playMaster">
                            <form class="form-inline">
                                <div class="col-md-4">Bull
                                    <input type="number" [disabled]="won || lost" min="1" max="3" class="number" name="bull" [(ngModel)]="bull" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-md-4">Cow
                                    <input type="number" [disabled]="won || lost" min="1" max="3" class="number" name="cow" [(ngModel)]="cow" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-md-4">
                                    <button (click)="getGuess(bull,cow)" [disabled]="won || lost" class="btn btn-xs btn-primary">Get Guess</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="won || lost" class="card bg-dark text-center" style="width: 80%">
                            <div *ngIf="won && !playMaster" class="card-header text-success">
                                <h3>
                                    <b>Congrats!</b>
                                </h3>
                            </div>
                            <div *ngIf="won && playMaster" class="card-header text-success">
                                <h3>
                                    <b>Ain't I Smart! :)</b>
                                </h3>
                            </div>
                            <div *ngIf="lost" class="card-header text-danger">
                                <h3>
                                    <b>Game Over!</b>
                                    Correct Number was {{ans}}
                                </h3>
                            </div>
                            <div class="card-body text-white">
                                <h5 class="card-title">Play Again?</h5>
                                <p class="card-text">
                                    Start New Game
                                </p>
                                <button class="btn btn-xs btn-primary" (click)="myFunc()">Player</button>
                                <button class="btn btn-xs btn-primary" (click)="startMaster()">Master</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>